<div class="container">

	<div class="starter-template">
		<h1>Résultats du loto</h1>
		
	    <div class="row">
	      <div class="table-responsive">
	        <table class="table table-hover">
	          <thead>
	            <tr>
	              <th>#</th>
	              <th>Table heading</th>
	              <th>Table heading</th>
	              <th>Table heading</th>
	              <th>Table heading</th>
	              <th>Table heading</th>
	              <th>Table heading</th>
	            </tr>
	          </thead>
	          <tbody id="myTable">
	            <tr>
	              <td>1</td>
	              <td>Table cell</td>
	              <td>Table cell</td>
	              <td>Table cell</td>
	              <td>Table cell</td>
	              <td>Table cell</td>
	              <td>Table cell</td>
	            </tr>
	          </tbody>
	        </table>   
	      </div>
	      <div class="col-md-12 text-center">
	      	<ul class="pagination pagination-lg pager" id="myPager"></ul>
	      </div>
		
		</div>
	</div>

</div><!-- /.container -->