<div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>N1</th>
          <th>N2</th>
          <th>N3</th>
          <th>N4</th>
          <th>N5</th>
          <th>N6</th>
          <th>N7</th>
          <th>N Bonus 1</th>
          <th>N Bonus 2</th>
          <th>N Bonus 3</th>
          <th>N Bonus 4</th>
          <th>N Bonus 5</th>

        </tr>
      </thead>
      <tbody id="dbTable">
		
		<tr>
		<td>{{ stat.n1 }}</td>
		<td>{{ stat.n2 }}</td>
		<td>{{ stat.n3 }}</td>
		<td>{{ stat.n4 }}</td>
		<td>{{ stat.n5 }}</td>
		<td>{{ stat.n6 }}</td>
		<td>{{ stat.n7 }}</td>
		<td>{{ stat.n_b_1 }}</td>
		<td>{{ stat.n_b_2 }}</td>
		<td>{{ stat.n_b_3 }}</td>
		<td>{{ stat.n_b_4 }}</td>
		<td>{{ stat.n_b_5 }}</td>
		</tr>
	
	</tbody>
	</table>   
	</div>
	
